<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Orcs Orcs Orcs Digital</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/main.js" defer></script>
</head>
<body>
  <div id="game-container">
    
    <div id="top-bar">
      <div id="round-info"></div>
      <div id="score-info"></div>
    </div>

    <div id="map-area">
      </div>

    <div id="player-area">
      <div id="player-stats"></div>
      <div id="player-hand">
        </div>
    </div>

    <div id="end-turn-container">
        </div>

  </div>
</body>
</html>
